:root {
  --corUrna: #dbd5c9;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.urna {
  background: var(--corUrna);
  padding: 30px;
  display: flex;
}

.tela {
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
}

.teclado {
  background: #403a3a;
  margin-left: 30px;
}

.teclado-linha{
    display: flex;
}

.teclado-botao{
    width: 50px;
    height: 50px;
    background: #000;
    color: #FFF;
    font-size: 25px;
}