:root {
  --corUrna: #dbd5c9;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.urna {
  background: var(--corUrna);
  padding: 30px;
  display: flex;
}

.tela {
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
}

.teclado {
  background: #403a3a;
  margin-left: 30px;
}

.teclado-linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado-botao{
    width: 70px;
    height: 40px;
    background: #000;
    color: #FFF;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
}

.botao-branco{
    background:#FFF;
    color: #000;
    font-size: 15px;
}

.botao-corrige{
    background:#F09046;
    color: #000;
    font-size: 15px;
}

.botao-confirma{
    background:#48c079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.d-1{
    flex:1;
    display: flex;
}

.d-1-left{
    flex: 1;
}

.d-1-right{
    width: 90px;
}
.d-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}